.config/chromium/
.config/libreoffice*
.config/Microsoft/
.config/chromium
.config/nautilus/
.config/QtProject*
.config/dconf
.config/Element
.config/JetBrains
.config/gtk-3.0
.config/mimeapps.list
.config/pulse
.config/teams
.config/vimb
.config/vlc
.config/wireshark
.config/zoomus.conf
.config/Slack
.config/discord
.config/protonvpn
.config/spotify
.config/systemd

