/* Catppuccin Mocha */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
@define-color bar_grad_start #2f7f5f;
@define-color bar_grad_end   #3fa7c9;
@define-color bar_text_left  #edf9f3;
@define-color bar_text_mid   #eef7fb;
@define-color bar_text_right #f3f9ff;

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", "Noto Color Emoji", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    background-image:
        linear-gradient(90deg, alpha(@bar_grad_start, 0.94), alpha(@bar_grad_end, 0.94)),
        linear-gradient(0deg, alpha(@crust, 0.20), alpha(@crust, 0.20));
    color: @bar_text_mid;
    border-bottom: 2px solid alpha(@bar_grad_end, 0.80);
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
    padding: 0 8px;
    margin: 2px 0;
}

#tray {
    padding: 0 6px;
}

.modules-left > widget > * {
    color: @bar_text_left;
}

.modules-center > widget > * {
    color: @bar_text_mid;
}

.modules-right > widget > * {
    color: @bar_text_right;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: alpha(@bar_text_left, 0.82);
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background-color: alpha(@crust, 0.25);
    color: @bar_text_left;
}

#workspaces button.active {
    background-color: alpha(@crust, 0.35);
    color: @bar_text_left;
    border-bottom: 2px solid alpha(@bar_text_left, 0.95);
}

#custom-hyprshade.on {
    color: @peach;
}

#custom-hyprshade.off {
    color: @overlay1;
}
