[Unit]
Description=Mount Reaper dir via rclone
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=MOUNT_PATH="/home/nicklas/Documents/REAPER Media"
ExecStart=/usr/bin/rclone mount protondrive:Reaper ${MOUNT_PATH} --vfs-cache-mode writes
ExecStop=/bin/fusermount -u ${MOUNT_PATH}
Restart=on-abort

[Install]
WantedBy=default.target

